body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
}

.top-right-container {
    position: fixed;
    top: 0;
    right: 5px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

#searching_png {
    position: fixed;
    top: 0;
    left: -5px;
    padding: 15px;
    margin: 15px;
    display: flex;
    transform: scale(0.1);
    margin-bottom: -235px;
    transform-origin: 0% 0%;
}

hr {
    position: fixed;
    top: 52px;
    border: 0; 
    height: 1px; 
    background-color: #ccc; 
    margin: 20px 0;
    width: 100%;
}

.search-table {
    position: fixed;
    top: 0px;
    left: 30px;
    width: 80%; 
    border-collapse: collapse; 
    margin-top: 100px; 
}

.search-table th,
.search-table td {
    padding: 10px; 
    text-align: left; 
}

.search-table th {
    width: 170px; 
    font-weight: lighter;
}

.search-table input {
    width: 400px;
    height: 15px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 2px;
}

