body {
    margin: 0; /* Remove default body margin */
    height: 100vh; /* Make the body take up the full viewport height */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background-color: #f8f9fa; /* Optional: Add a background color */
}

.top-right-container {
    position: fixed;
    top: 0;
    right: 0;
    padding: 15px;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

#google_png {
    width: 300px;
    object-fit: cover;
}

.centered_elements {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#search_bar {
    width: 500px;
    height: 40px;
    border-radius: 25px;
}